<%= simple_form_for @meeting do |f| %>
<div class="row">
  	<div class="col-md-4">
	 	 <%= f.input :name, label: false, placeholder: "Last Name"  %>
	 	 <%= f.input :address, label: false, placeholder: "Address"  %>
		 <%= f.input :starts_at, as: :datetime_picker %>
		 <%= f.input :end_at, as: :time_picker %>
   	<div class="actions">
      	 <div><%= f.submit "Submit", class: "btn btn-primary" %> <%= link_to "Cancel", root_path, class: "btn btn-inverse" %></div>
 	</div>

  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
  
  

	



 


<% end %>