<%= month_calendar table: {class: "table table-bordered"}, 
	header: {class: "calendar-header", style: "font-size:30px;"},
  tr: {class: "calendar-row"}, 
	td: {class: "day"},
	day_names: "date.day_names", 
	events: @meetings do |date, meetings| %>
  		<% if date.yday == Time.now.yday %>
          <now class="label label-primary"><b><%= link_to date.day, new_meeting_path %></b></now>
        <% else %>
        <% if date.month == Time.now.mon %>
          <in class="label label-success"><b><%= link_to date.day, new_meeting_path %></b></in>
        <% else %>
			     <out class="label label-warning"><%= link_to date.day, new_meeting_path %></out>
        <% end %>
			<% end %>
     
  <% meetings.each do |meeting| %>
    <div>
      <evn class="label label-info"><%= link_to meeting.name, edit_meeting_path(meeting) %> Start Hour- <%= meeting.starts_at.hour %></evn>
    </div>
  <% end %>
<% end %>


